body {
  background-color: #E3DDD3;
  font-family: Arial, sans-serif;
  color: #0A0A0A;
}

.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #CC99FF;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}
